**/__pycache__/
Data/
social_2/
**/wandb/
**/model/checkpoint/
**/model/codebook/
Social-CH/checkpoint
Workspace
COG_Transformer/best_model_checkpoint_AVG.pth
COG_Transformer/best_model_checkpoint_onlychoose_least.pth
COG_Transformer/best_model_checkpoint_SoftMAX.pth
COG_Transformer/best_model_checkpoint.pth
COG_Transformer/discrim_checkpoint_onlychoose_least.pth
.vscode-server/

